.section-products .row {
  display: flex;
  flex-wrap: wrap; }
  .section-products .row > .product {
    flex: 1 0 25%; }

h2 {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  background: #212529;
  color: white;
  border-radius: 21px;
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px; }

.product {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative; }
  .product img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    max-width: 300px;
    max-height: 400px;
    min-width: 300px;
    min-height: 400px; }
    .product img:hover {
      transform: scale(1.05); }
  .product h4 {
    margin-top: 10px;
    font-weight: bold; }
  .product p {
    margin-top: 10px; }
  .product .card {
    position: relative; }
    .product .card .product-image img {
      max-width: 100%;
      position: relative;
      max-width: 100%;
      position: relative; }
    .product .card .card-body {
      margin-top: 20px; }
    .product .card .product-info {
      padding: 10px; }
    .product .card .product-title {
      font-size: 18px;
      font-weight: 500;
      margin: 10px 0; }
    .product .card .discount {
      display: inline-block;
      padding: 2px 8px;
      font-size: 14px;
      font-weight: 500;
      color: #fff;
      background-color: #0088cc;
      border-radius: 4px; }
    .product .card .product-old-price {
      color: #999;
      text-decoration: line-through;
      margin-right: 10px; }
    .product .card .product-price {
      color: #0088cc;
      font-weight: 500; }

.card {
  flex: 1;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease; }
  .card .card-body {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
    opacity: 0.8;
    margin-top: 20px; }
    .card .card-body h5 {
      margin-top: 10px; }
    .card .card-body ul {
      display: flex;
      padding: 0;
      margin: 10px; }
      .card .card-body ul li {
        list-style: none;
        margin: 0 10px;
        padding: 0; }
        .card .card-body ul li a:hover {
          color: #f00; }

.product-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  list-style: none; }
  .product-icons li {
    margin: 0 10px; }
    .product-icons li a i {
      font-size: 20px;
      color: #000000; }
      .product-icons li a i:hover {
        color: #dc0a0a; }

@media (max-width: 991px) {
  .section-products .row > .product {
    flex: 1 0 50%; } }

@media (max-width: 767px) {
  .section-products .row {
    justify-content: center; }
    .section-products .row > .product {
      flex: 1 0 100%;
      max-width: 100%; } }
