.slider {
  position: relative;
  height: 100vh;
  overflow: hidden;

  h1 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    background: #212529;
    color: white;
    border-radius: 21px;
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }

  .slider__holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    display: flex;
    transition: transform 0.3s ease;

    .slider__item {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;

      .card-img {
        max-width: 100%;
        max-height: 90%;
        object-fit: contain;
      }
    }
  }

  .bullets {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    .bullets__item {
      width: 20px;
      height: 20px;
      margin-top: 20px;
      margin-right: 10px;
      border-radius: 50%;
      border: 2px solid #000;
      background-color: #fff;
      cursor: pointer;

      &.active {
        background-color: #000;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .slider__holder {
      width: 300%;
    }

    .slider__item {
      width: 33.333%;
    }
  }

  @media screen and (max-width: 480px) {
    .slider__holder {
      width: 200%;
    }

    .slider__item {
      width: 50%;
    }
  }
}
