/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

h1 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    background: #212529;
    color: white;
    border-radius: 21px;
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin-top: 2em;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #212529;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #212529;
}

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #212529;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #717375;
}

.swiper-navBtn {
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #212529;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 35px;
    color: #373a3d;
    margin-top: 1.5em;
}

.swiper-button-next {
    left: 10px;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #212529;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #212529;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .slide-content {
        margin: 0 5px;
    }


    .swiper-pagination {
        display: none;
    }

}

@media screen and (max-width: 992px) {
    .slide-content {
        margin: 0 20px;
    }


    .swiper-navBtn {
        display: block;
    }

}

@media screen and (max-width: 1200px) {
    .slide-content {
        margin: 0 30px;
    }
}

@media screen and (min-width: 1201px) {
    .slide-content {
        margin: 0 50px;
    }
}